[submodule "krello"]
	path = krello
	url = https://github.com/13rianVargas/krello.git
[submodule "ProyectoVideojuego"]
	path = ProyectoVideojuego
	url = https://github.com/Alejandraqt/ProyectoVideojuego
[submodule "CineMoc"]
	path = CineMoc
	url = https://github.com/13rianVargas/CineMoc
